{% extends "base.html" %}
{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}

    <span class="inside">{{ inside }}</span>

    <div class="entry">
        <div>
        onext.io/{{ form.id(placeholder=placeholder) }}
        </div>
        {% for error in form.id.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    {% with item = form.chrome_url, icon = "chrome", placeholder = "chrome.google.com/webstore/detail/" %}{% include "_input.html" %}{% endwith %}
    {% with item = form.firefox_url, icon = "firefox", placeholder = "addons.mozilla.org/en-US/firefox/addon/" %}{% include "_input.html" %}{% endwith %}
    {% with item = form.safari_url, icon = "safari", placeholder = "apps.apple.com/us/app/" %}{% include "_input.html" %}{% endwith %}
    {% with item = form.opera_url, icon = "opera", placeholder = "addons.opera.com/en/extensions/details/" %}{% include "_input.html" %}{% endwith %}
    {% with item = form.edge_url, icon = "edge", placeholder = "microsoftedge.microsoft.com/addons/detail/" %}{% include "_input.html" %}{% endwith %}
    {% with item = form.fallback_url, icon = "globe" %}{% include "_input.html" %}{% endwith %}

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
